@if (users().length === 0) {
  <div class="flex justify-between items-center mt-5">
    <span class="font-bold">Add New User</span>
    <button class="flex-end px-4 py-1 bg-white text-indigo-900 border border-indigo-900 hover:bg-indigo-900 hover:text-white rounded-lg">
      <a routerLink="/signup" class="font-bold">Add</a>
    </button>
  </div>
  <div class="h-dvh flex justify-center items-center">
    <h1 class="font-bold p-10 bg-red-200 ring-1 ring-red-200 rounded-lg shadow-lg text-black">There are no users to display at this time!</h1>
  </div>
}@else{

  <div class="overflow-x-auto overflow-y-auto mt-5 max-w-sm md:max-w-2xl mx-auto">
    <hr class="h-px my-4 bg-gray-200 border-0"/>
    <h4 class="text-center text-xl font-bold">List of Users</h4>
    <hr class="h-px my-4 bg-gray-200 border-0"/>
    <div class="flex justify-between items-center">
      <span class="font-bold">Add New User</span>
      <button class="flex-end px-4 py-1 bg-white text-indigo-900 border border-indigo-900 hover:bg-indigo-900 hover:text-white rounded-lg">
        <a routerLink="/signup" class="font-bold">Add</a>
      </button>
    </div>
    <hr class="h-px my-4 bg-gray-200 border-0"/>
    <table class="mt-5">
      <thead>
      <tr>
        <th class="px-2 text-left">Image</th>
        <th class="px-2 text-left">name</th>
        <th class="px-2 text-left">Email</th>
        <th class="px-2 text-left">Phone</th>
        <th class="px-2 text-left">Role</th>
        <th class="px-2 text-left">Gender</th>
        <th class="px-2 text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (user of users(); track user.id){
          <tr>
            <td class="m-1">
              <div class="relative w-full h-20">
                <img
                  [ngSrc]="user.image"
                  class="object-cover p-1"
                  [alt]="user.name"
                  fill
                  priority
                />
              </div>
            </td>
            <td class="px-2 align-top">{{user.name}}</td>
            <td class="px-2 align-top">{{user.email}}</td>
            <td class="px-2 align-top">{{user?.author?.phone}}</td>
            <td class="px-2 align-top">{{user.role}}</td>
            <td class="px-2 align-top">{{user?.author?.gender}}</td>
            <td class="flex items-center justify-center gap-2 px-2 align-middle">
              <a [routerLink]="`/users/${user.id}/detail`" class="px-2 py-1 bg-white text-indigo-900 border border-indigo-900 hover:bg-indigo-900 hover:text-white font-bold rounded-md">
                Detail
              </a>
              <a [routerLink]="`/users/${user.id}/detail`" class="px-2 py-1 bg-white text-rose-900 border border-rose-900 hover:bg-rose-900 hover:text-white font-bold rounded-md">
                Delete
              </a>
              <button (click)="changeRole(user)" class="flex items-center px-2 py-1 bg-white text-green-900 border border-green-900 hover:bg-green-900 hover:text-white font-bold rounded-md">
                {{user.role === "Admin" ? "User?" : "Admin?"}}
              </button>
              <a [routerLink]="`/posts/get-author-posts-by-email/${user.email}`" class="px-2 py-1 bg-white text-gray-900 border border-gray-900 hover:bg-gray-900 hover:text-white font-bold rounded-md">
                Blogs
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
    <hr class="h-px my-8 bg-gray-200 border-0"/>
  </div>
}


