<form class="flex flex-col max-w-sm shadow-2xl px-10 py-8 mx-auto rounded-lg mt-20 ring ring-gray-300">
  <h4 class="text-center text-xl font-bold mb-4">Change User Password Form</h4>
  <div class="mb-3 flex-col items-center">
    <label for="email" class="text-base">Email</label>
    <input class="w-full max-w-xs ring-1 ring-gray-300 rounded-md" type="text" id="email" [formField]="changeUserPasswordForm.email" />
  </div>
  <div class="mb-3 flex-col items-center">
    <label for="password" class="text-base">Password</label>
    <input class="w-full max-w-xs ring-1 ring-gray-300 rounded-md" type="password" id="password" [formField]="changeUserPasswordForm.password"/>
  </div>
  <div class="mb-3 flex-col items-center">
    <label for="newPassword" class="text-base">New Password</label>
    <input class="w-full max-w-xs ring-1 ring-gray-300 rounded-md" type="password" id="newPassword" [formField]="changeUserPasswordForm.newPassword"/>
  </div>
  <div class="mb-3 flex-col items-center">
    <label for="confirmPassword" class="text-base">Confirm Password</label>
    <input class="w-full max-w-xs ring-1 ring-gray-300 rounded-md" type="password" id="confirmPassword" [formField]="changeUserPasswordForm.confirmPassword"/>
  </div>
  <div class="flex flex-col md:flex-row items-center md:justify-between mt-6 md:gap-2">
    <button type="button" class="py-2 border-2 border-yellow-900 px-4 hover:bg-yellow-900 hover:text-white text-yellow-900 font-bold rounded-lg w-full md:w-1/2 mb-2" (click)="backToList()">Back</button>
    <button type="button" class="py-2 px-4 border-2 border-indigo-900 hover:bg-indigo-900 hover:text-white text-indigo-900 font-bold rounded-lg w-full md:w-1/2 mb-2" (click)="onSubmit($event)">Save</button>
  </div>
</form>





